* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1 rem equivalen a 10px */
  font-family: "Poppins", sans-serif;
}

/* Header section */

#header {
  background-color: #ffffff;
  max-width: 1200px;
  width: 60%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 250px;
}

.logo {
  width: 95px;
}

.main-nav ul {
  display: flex;
  gap: 35px;
}

.main-nav ul li {
  list-style: none;
}

.main-nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(38, 126, 120);
  transition: all 0.5s ease;
}

.main-nav ul li a:hover {
  padding: 5px 12px; 
  background: rgb(49, 158, 151);
  color: #fff;
  border-radius: 15px;
}

#login-label {
  color: orangered;
}

#login-label:hover {
  background-color: rgba(255, 68, 0, 0.822);
  color: white;
  border-radius: 10px;
}

/*--------------PRIMERA SECCION--------------*/

.first-section{   
  background-image: url(./images/img_fondo1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 98%;
  height: 750px;
  border-radius: 20px;
  margin: 15px auto;
}
.box{
  width: 57%;
  position: absolute;
  top: 50%;
  padding-left: 75px;
}
.title{
  color: white;
  font-size: 4.2rem;
  padding-bottom: 20px;
}
.text{
  color: #fff;
  font-size: 1.8rem;
  padding-bottom: 20px;
}
#visitanos-button{
  background: orangered;
  color: white;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
#visitanos-button:hover {
  background-color: rgb(237, 63, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor:pointer;
}
/*--------------SEGUNDA SECCION--------------*/
.second-section-columns{
  background-image: url(./images/img_fondo2.png);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.main-container-left, .main-container-left{
  width: 50%;
}
.main-container-left {
  text-align: center;
}
.sub-title{
  color: #2f9c95ff;
  font-size: 3.5rem;
  padding-bottom: 34px;
  text-align: center;
}
ul.flat-icon {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
ul.flat-icon li {
  list-style: none;
  text-align: center;
  padding-bottom: 50px;
}
.icon{
  width: 60px;
  border-radius: 10px;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  box-shadow: 2px 2px 4px rgb(40, 68, 64);
}
p.text-icon{
  position: relative;
  top: 10%;
  font-size: 1.2rem;
}
.section-img-left{
  width: 450px;
  border-radius: 10px;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  box-shadow: 2px 2px 4px rgb(40, 68, 64);
}
.section-figure-left, .box-figure-left{
  width: 50%;
}
/*---------------TERCERA SECCION--------------*/
.third-section{
  height: 500px;
 }
.main-third-container {
  padding-top: 65px;
  padding-bottom: 65px;
  width: 100%;
  padding-left: 11%;
  padding-right: 11%;
}
.text1{
  color: #40c9a2ff;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.text-strong{
  color: #2f9c95ff;
  font-size: 2.0rem;
  padding-bottom: 20px;
  padding-top: 14px;
}
/* TODO: Darle margen al botón arriba y abajo y areglarlo*/
#mas-info-button{
  background-color: rgb(61, 169, 164);
  display: flex;
  margin: 0 auto;
  color: white;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease;
}

#mas-info-button:hover {
  background: rgb(38, 125, 120);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.fourth-section{
  background-image: url(./images/foto2.jpg);
  background-position: center;
  background-size:cover;
  height: 500px;
}
.main-fourth-section{
  display: flex;
  flex-direction: column;
  padding-top: 9%;
 }
 .sub-title1{
  color: white;
  font-size: 5rem;
  text-align: center;
 }
 .text2{
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 70px;
}
#agenda-cita-button{
  background-color: rgb(61, 169, 164);
  display: flex;
  margin: 0 auto;
  color: white;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease;
}

#agenda-cita-button:hover {
  background: rgb(38, 125, 120);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/*---------------CUARTA SECCION--------------*/
.fifth-section{
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifth-container-left{
  width: 40%;
}
.image-fifth-section-left{
  margin-left: 150px;
}
.section-aside{
  width: 63%;
  padding: 0 7%;
}